<div class="after-woa">

  <section class="callToAction">

    <section class="homepage__celebration">
      <p class="u-grid-container homepage__celebration--text">On April 22, 2017, in more than 600 cities around the world,
        <b>we marched as an unprecedented coalition of organizations and individuals.</b>
        We marched because science is critical to our health, economies, food security, and safety.
        We marched to defend the role of science in policy and society.</p>

      {{world-map labs=labs.list}}
    </section>

  </section>

</div>
